/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

/* General tyles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Permanent Marker", cursive;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Hero Introduction styles */
#hero {
  padding: 6%;
  overflow: hidden !important;
}

.hero-dora-image {
  width: 30%;
  margin: auto;
  padding: 10px;
  text-align: center;
}

.hero-dora-image img {
  width: 150px;
  height: 150px;
  border-width: thick;
  border-radius: 50%;
}

.social-link {
  text-align: center;
}

.social-link span {
  margin: 3px;
}

.social-link span a i {
  font-size: 18px;
}

.hero-cta-buttons {
  text-align: center;
  margin: 4% auto;
}

.hero-cta-buttons a {
  border-radius: 3px;
  margin: 0 7px;
}

/* ABOUT */

#about {
  padding: 5% 0;
  overflow: hidden !important;
}

#about ul {
  list-style: square inside url("/assets/image/ellipse.png");
}

.about-image {
  background-image: url('/assets/image/Background\ image.png');
  border-radius: 15px;
}

.about-text {
  margin-top: 23%;
}


/*PROJECTS  */
#projects {
  padding: 5% 0;
  overflow: hidden !important;
}


.project-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.project-container:hover .overlay {
  opacity: 1;
}

.text {
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


/* FOOTER */
#footer {
  padding: 17px 0;
  overflow: hidden !important;
}

#footer p {
  margin-top: 1% !important;
}

#footer p span {
  margin: 3px;
}


/* IPAD RULES */
@media screen and (min-width: 481px) and (max-width: 884px) and (orientation: portrait) {
  #projects .row {
    margin-top: 2% !important;
  }

  #projects .col-lg-4 {
    margin-top: 7%;
  }
}


/* MOBILE RULES */
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
  .hero-dora-image {
    width: 50%;
  }

  .hero-cta-buttons {
    display: flex;
    flex-direction: column;
    margin-bottom: 12%;
  }

  .hero-cta-buttons a {
    margin-top: 8% !important;
    text-align: center;
    margin-right: 0px !important;
  }

  #about,
  #projects {
    padding: 10% 0;
  }

  #about h5,
  p {
    text-align: center;
  }

  #projects .row {
    margin-top: 2% !important;
  }

  #projects .col-lg-4 {
    margin-top: 7%;
  }
}

@media screen and (min-width: 580px) and (max-width: 926px) and (orientation: landscape) {
  #projects .row {
    margin-top: 2% !important;
  }

  #projects .col-lg-4 {
    margin-top: 7%;
  }
}