/* Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* General tyles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* navigation styles */
